/* Custom fonts of nisarul.com are linked here */

/*
    1. primary font - "PT Sans"
*/
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans'), url('/fonts/PTSans-Regular.woff') format('woff');
}


@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Gotham Rounded Light'), url('/fonts/PTSans-Bold.woff') format('woff');
}

/*
    2. fancy-font - "Rogthem"
*/
@font-face {
    font-family: 'Rogthem';
    font-style: normal;
    font-weight: normal;
    src: local('Rogthem'), url('/fonts/Rogthem.woff') format('woff');
}
