/*
  1. Header Section
    1.1 NavBar Area
        1.1.1 Logo Area
        1.1.2 Menu Area
    1.2 Hero Area
        1.2.1 Text / Left Area
        1.2.2 Image / Right Area
*/

/* Controlling variables */
:root {
  --color: #6729f6;
  --color-dark: #394bed;
  --primary-font: "PT Sans", Arial, Helvetica, sans-serif;
  --fancy-font: "Rogthem", Arial, Helvetica, sans-serif;
  --font-size: 1em;
  --title-color: #141c3a;
  --font-color: #222222;
}

/* Basic Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--font-color);
}

p {
  color: color: var(--title-color);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.btn {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 0.15em solid var(--color);
  border-radius: 10em;
  color: var(--color);
  transition: 200ms;
  font-weight: bold;
}
.btn a {
  vertical-align: middle;
}
.btn i {
  font-size: 1.35em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.btn:hover {
  background-color: var(--color);
  color: white;
}

/*#### 1. Header Area Starts ####*/
header {
  min-height: 98vh;
}

/* 1.1 NavBar Area */
header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Making 20vh height for NavBar and placing items vertically center */
  min-height: 20vh;
  align-items: center;
}

/*     1.1.1 Logo Area */
header nav .logo-area img {
  margin-top: 1.5em;
  width: 12em;
}

/* 1.2 Hero Area */
header .hero-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 70vh;
  align-items: center;
}

/*    1.2.1 Text / Left Area  */
header .hero-area h1 {
  color: var(--title-color);
  font-size: 1.75em;
  text-transform: capitalize;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 2.95em;
  vertical-align: sub;
}

header .hero-area h1 em {
  font-size: 1.2em;
  font-weight: 800;
}

header .hero-area .text-area h1 > img {
  display: none;
}

/* Niasrul Amin Niam Text Animating starts */
header .hero-area h1 span {
  font-family: var(--fancy-font);
  font-size: 3.4em;
  font-weight: 400;
  vertical-align: bottom;
  /* Text Color */
  background-image: linear-gradient(227deg, #3083d0, #6030d0, #330867);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: hue 10s infinite linear;
  -webkit-animation: hue 10s infinite linear;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(60deg);
  }
  50% {
    -webkit-filter: hue-rotate(0deg);
  }
  75% {
    -webkit-filter: hue-rotate(-60deg);
  }
  10% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(60deg);
  }
  50% {
    -webkit-filter: hue-rotate(0deg);
  }
  75% {
    -webkit-filter: hue-rotate(-60deg);
  }
  10% {
    -webkit-filter: hue-rotate(0deg);
  }
}

/* Niasrul Amin Niam Text Animating Ends */

header .hero-area h4 {
  font-size: 1.25em;
  text-transform: capitalize;
}

header .hero-area h4 span {
  display: block;
}

header .hero-area h4 i {
  color: var(--color);
}

header .hero-area .image-area img {
  width: 30vw;
}

/* Responsiveness */

/* Full HD Desktop */
@media all and (min-width: 1400px) {
  body {
    font-size: 1.25em;
  }
}

/* Less than 14 inch Laptom */
@media all and (max-width: 1150px) {
  body {
    font-size: 0.7em;
  }
}

/* Tablet */
@media all and (max-width: 900px) {
  body {
    font-size: 0.8em;
  }
  /* ## 1. Header Area ## */
  /* 1.1 NavBar Area */
  header nav {
    margin-top: 1em;
    min-height: 14vh;
  }
  header .menu-area {
    display: none;
  }

  /* 1.2 Hero Area */
  header .hero-area {
    flex-direction: row;
  }
  header .hero-area {
    min-height: 76vh;
  }

  /* 1.2.1 Text Area  */
  /* H1 */
  header .hero-area .text-area h1 {
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5vh;
  }
  header .hero-area .text-area h1 b {
    font-weight: bold;
    text-align: center;
    display: block;
    position: relative;
    right: 5em;
  }
  header .hero-area .text-area h1 span {
    font-size: 2.5em;
    line-height: 1em;
    display: block;
    text-align: center;
    letter-spacing: 2px;
    transform: rotate(-4deg);
  }

  /* img */
  header .hero-area .text-area h1 > img {
    width: 65vw;
    margin: 0 auto;
    display: block;
    margin-bottom: 5vh;
  }
  /* H4 */
  header .hero-area h4 {
    font-size: 1.75em;
    text-align: center;
    color: #3b3b3b;
    margin-bottom: 2.5em;
  }
  header .hero-area h4 span {
    display: inline;
  }

  /* 1.2.2 Image Area  */
  header .hero-area .image-area {
    display: none;
  }
}

/* Mobile */
@media all and (max-width: 600px) {
}

@media all and (max-height: 640px) {
  .circles {
  height: 135%;
}
}