/*
  1. Header Section
    1.1 NavBar Area
    1.2 Hero Area
*/

/* Controlling variables */
:root {
  --color: #6729f6;
  --primary-font: "PT Sans", Arial, Helvetica, sans-serif;
  --fancy-font: "Rogthem", Arial, Helvetica, sans-serif;
  --font-size: 1em;
}
/* Basic Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-weight: 400;
}

.container {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}

.btn {
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 0.15em solid var(--color);
  border-radius: 10em;
  color: var(--color);
  transition: 200ms;
  font-weight: bold;
}
.btn a {
  vertical-align: middle;
}
.btn i {
  font-size: 1.35em;
  margin-right: 0.5em;
  vertical-align: middle;
}

.btn:hover {
  background-color: var(--color);
  color: white;
}

/*#### 1. Header Area Starts ####*/
/* 1.1 NavBar Area */

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Making 20vh height for NavBar and placing items vertically center */
  height: 20vh;
  align-items: center;
}

header nav .logo-area img {
  width: 12em;
}

header nav .menu-area a {
}

/* 1.2 Hero Area */
header .hero-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 70vh;
  align-items: center;
}

header .hero-area h1 {
  font-size: 1.75em;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  line-height: 2.75em;
  vertical-align: sub;
}

header .hero-area h1 em {
  font-size: 1.2em;
  font-weight: 800;
}

header .hero-area h1 span {
  font-family: var(--fancy-font);
  font-size: 3em;
  font-weight: bold;
  vertical-align: bottom;
  /* Text Color */
  background-image: linear-gradient(227deg, #3083d0 ,  #6030d0 , #330867 );;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: hue 10s infinite linear;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  25% {
    -webkit-filter: hue-rotate(60deg);
  }
  50% {
    -webkit-filter: hue-rotate(0deg);
  }
  75% {
    -webkit-filter: hue-rotate(-60deg);
  }
  10% {
    -webkit-filter: hue-rotate(0deg);
  }
}

header .hero-area h4 {
  font-size: 1.25em;
  text-transform: capitalize;
}

header .hero-area h4 span {
  display: block;
}

header .hero-area .image-area img {
  width: 30vw;
}














/* 1.2 Hero Area */
/*
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(169, 185, 236);
  z-index: -1;
} */

/* Responsiveness */

/* Full HD Desktop */
@media all and (min-width: 1400px) {
  body {
    font-size: 1.25em;
  }
}

/* Less than 14 inch Laptom */
@media all and (max-width: 1150px) {
  body {
    font-size: 0.8em;
  }
}

/* Tablet */
@media all and (max-width: 900px) {
    header .hero-area {
      flex-direction: column-reverse;
      flex-wrap: no-wrap;
      justify-content: space-around;
    }
    header .hero-area .image-area img {
    width: 65vw;
    }
}

/* Mobile */
@media all and (max-width: 600px) {
  header nav {
    margin-top: 1em;
  height: 14vh;
}
  header .hero-area .text-area h1 {
    font-size: 1.25em;
    line-height: 1.2em;
  }
  header .hero-area .text-area h1 span {
    font-size: 2.5em;
    line-height: 1em;
    display: block;
    text-align: center;
    letter-spacing: 2px;
  }
  header .hero-area h4 span {
    display: inline;
  }
  header .menu-area {
    display: none;
  }
}